.foodlist_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .flex1 {
        flex: 1;
    }

    .btn {
        min-width: 100px;
        padding: 10px;

        &:hover {
            background-color: #44423d;
            color: rgb(255, 255, 255);
        }
    }

    .flexH1 {
        flex: 0.5;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .top_search_container {
        // border: 1px solid #ccc;
        display: flex;
        gap: 10px;

        .search_btn {
            height: 50px;
            margin: 5px;
            padding: 10px 10px;
            background-color: white;
            border: 1px solid #ccc;
            cursor: pointer;

            &:hover {
                background-color: #f0c14b;
                border: 1px solid #a88734;
                color: #111;
            }

            &:active {
                background-color: #ba963c;
                border: 1px solid #a88734;
                color: #111;
            }
        }
    }
    .body_container {
        display: flex;
        gap: 10px;

        .food_list_container {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .search_item {
                display: flex;
                gap: 10px;
                border-radius: 10px;
                padding: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-color: white;

                img {
                    width: 200px;

                    object-fit: cover;
                }

                .desc_holder {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    min-width: 200px;
                    max-width: 300px;
                }

                .cart_btn {
                    background-color: #f0c14b;
                    border: 1px solid #a88734;
                    color: #111;

                    &:hover {
                        background-color: #f0c14b;
                        border: 1px solid #a88734;
                        color: #111;
                    }

                    &:active {
                        background-color: #ba963c;
                        border: 1px solid #a88734;
                        color: #111;
                    }
                }
            }
        }

        .cart_container {
            // border: 1px solid #ccc;
            flex: 0.8;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cart_holder {
                position: fixed;
                width: 40%;
                background-color: white;
                padding: 10px;
                border-radius: 10px;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .cart_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    border-bottom: 1px solid #ccc;

                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: contain;
                    }

                    .quantity_btn {
                        height: 50px;
                        width: 50px;
                        margin: 5px;
                        background-color: white;
                        border: 1px solid #ccc;
                        cursor: pointer;

                        &:hover {
                            background-color: #f0c14b;
                            border: 1px solid #a88734;
                            color: #111;
                        }

                        &:active {
                            background-color: #ba963c;
                            border: 1px solid #a88734;
                            color: #111;
                        }
                    }
                }

                .checkout_btn {
                    height: 50px;
                    margin: 5px;
                    background-color: white;
                    border: 1px solid #ccc;
                    cursor: pointer;

                    &:hover {
                        background-color: #f0c14b;
                        border: 1px solid #a88734;
                        color: #111;
                    }

                    &:active {
                        background-color: #ba963c;
                        border: 1px solid #a88734;
                        color: #111;
                    }
                }
            }
        }
    }
}
